// Fonts

$sans: Helvetica, Arial, sans-serif;
$base-font: 'Work Sans', $sans;

// Colors

$white: hsl(0%, 0%, 100%);
$orange: hsl(40%, 100%, 65%);
$black: hsl(200%, 25%, 20%);
$grey: hsl(200%, 10%, 40%);
$green: hsl(100%, 40%, 60%);
