// Fonts
$sans: Helvetica, Arial, sans-serif;
$base-font: 'Source Sans Pro', $sans;

// Colors
$white: hsl(0, 0%, 100%);
$orange: hsl(40, 100%, 65%);
$black: hsl(200, 50%, 10%);
$grey: hsl(200, 10%, 40%);
$grey-light: hsl(200, 10%, 60%);
$grey-lightest: hsla(200, 15%, 92%);
$green: hsl(100, 35%, 55%);

$darker: hsla(200, 50%, 10%, 0.5);
$lighter: hsla(255, 100%, 100%, 0.5);

$focus: hsl(185, 75%, 45%);
$bad: hsl(0, 75%, 45%);
$good: hsl(100, 75%, 45%);

// Transition
$rubber-band: cubic-bezier(0.3, 1.1, 0.3, 1.1);
$link: all 200ms ease;

// Background-gradient
$background-gradient: #e2e6e815 0%, #e2e6e815 10%, #ffffff40 10%, #ffffff40 15%,
  #e2e6e815 15%, #e2e6e815 30%, #ffffff40 30%, #ffffff40 35%, #e2e6e815 35%,
  #e2e6e815 20%, #ffffff40 20%, #ffffff40 45%, #e2e6e815 45%, #e2e6e815 50%,
  #ffffff40 50%, #ffffff40 60%, #e2e6e815 60%, #e2e6e815 65%, #ffffff40 65%,
  #ffffff40 70%, #e2e6e815 70%, #e2e6e815 80%, #ffffff40 80%, #ffffff40 90%,
  #e2e6e815 90%, #e2e6e815 100%;
